@font-face {
  font-family: 'Bebas Neue Pro Bold Italic';
  src: local('Bebas Neue Pro Bold Italic'), local('Bebas-Neue-Pro-Bold-Italic'),
    url('./BebasNeuePro-BoldItalic.woff2') format('woff2'),
    url('./BebasNeuePro-BoldItalic.woff') format('woff'),
    url('./BebasNeuePro-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Bebas Neue Pro Middle Italic';
  src: local('Bebas Neue Pro Middle Italic'), local('Bebas-Neue-Pro-Middle-Italic'),
    url('./BebasNeuePro-MiddleItalic.woff2') format('woff2'),
    url('./BebasNeuePro-MiddleItalic.woff') format('woff'),
    url('./BebasNeuePro-MiddleItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@media (max-width: 575.98px) {
  .player-list-margin {
    margin-top: 45px !important;
    margin-bottom: 40px !important;
  }
}

.player-list-margin {
  margin-top: 80px;
  margin-bottom: 75px;
}

.player-roster {
  overflow-x: hidden;
  overflow-y: hidden;
}

.ow-font-bold {
  font-family: 'Bebas Neue Pro Bold Italic';
}

.ow-font-middle {
  font-family: 'Bebas Neue Pro Middle Italic';
}

.team-red {
  color: rgb(255, 61, 61);
}

.team-blue {
  color: rgb(55, 101, 255);
}

.settings-status-enter-active,
.settings-status-leave-active {
  transition: opacity 1s;
}

.settings-status-enter-from,
.settings-status-leave-to {
  opacity: 0;
}

.list-enter-active,
.list-leave-active {
  transition: opacity 1s;
}

.list-enter-from {
  transform: translateY(-100%);
  opacity: 0;
}

.list-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

.panel {
  overflow: hidden;
  transition: all 0.25s;
  display: inline-block;
}

.bgm-img {
  /* background: linear-gradient(0deg, rgba(46, 46, 46, 0.5), rgba(250, 250, 250, 0.25)), url("../src/img/ow_wlp.jpg"); */
  background-image: url("../src/img/ow_wlp.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.navbar-title {
  color: #e78b00 !important;
}

.player-list {
  color: #585858 !important;
}

.btn-ow {
  color: #e78b00 !important;
  border-color: #e78b00 !important;
}

.btn-ow:hover,
.btn-outline-warning.active {
  color: #ffffff !important;
  background-color: #e78b00 !important;
}

.gear {
  color: #e78b00 !important;
  font-size: 2.5rem;
}

.gear-enter-active,
.gear-leave-active {
  transition: opacity 0.5s;
}

.gear-enter-from,
.gear-leave-to {
  opacity: 1;
}

.form-check-input:checked {
  background-color: #e78b00 !important;
  border-color: #e78b00 !important;
}

.li-no-ul {
  border: none !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.opac {
  opacity: 0.9 !important;
}

.opac p a button {
  opacity: 1;
}