@import "bootstrap/scss/functions";
@import "./variables";
@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Bebas Neue Pro';
  src:
    url('./assets/fonts/BebasNeuePro-BoldItalic.woff2') format('woff2'),
    url('./assets/fonts/BebasNeuePro-BoldItalic.woff') format('woff'),
    url('./assets/fonts/BebasNeuePro-BoldItalic.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Bebas Neue Pro';
  src:
    url('./assets/fonts/BebasNeuePro-MiddleItalic.woff2') format('woff2'),
    url('./assets/fonts/BebasNeuePro-MiddleItalic.woff') format('woff'),
    url('./assets/fonts/BebasNeuePro-MiddleItalic.ttf') format('truetype');
  font-weight: normal;
}

@media (max-width: 575.98px) {
  .footer-copyright {
    font-size: 0.7rem !important;
  }

  .navbar-brand {
    width: 40px !important;
    height: 40px !important;
  }

  .ow-footer-logo {
    width: 25px !important;
    height: 25px !important;
  }

  .social-item {
    font-size: 1.25rem !important;
  } 
}

body {
  font-family: "Bebas Neue Pro";
  // background: linear-gradient(0deg, rgba(46, 46, 46, 0.5), rgba(250, 250, 250, 0.25)), url("./assets/img/ow_wlp.webp");
  background-image: url("./assets/img/ow_wlp.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  /* Firefox */
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  /* Safari and Chrome */
  display: none;
}

.btn {
  font-weight: 700;
}

.tooltip {
  font-weight: normal;
  font-size: $font-size-lg;
}

.ow-font-bold {
  font-weight: 700;
}

.ow-font-middle {
  font-weight: normal;
}

.btn-outline-ow {
  @include button-outline-variant($overwatch);
  font-size: 1.75rem;
}

.btn-outline-bg-ow {
  @include button-outline-variant($overwatch);
  background-color: rgba(255, 255, 255, $ow-opacity);
  font-size: 1.75rem;
}

.btn-ow-main {
  @include button-variant($overwatch, $overwatch);
  border-color: $overwatch;
  font-size: 1.75rem;
}

.btn-ow-main:hover {
  border-color: rgba(0, 0, 0, 0);
}

.btn-ow-main.active,
.btn-ow-main:active {
  color: $overwatch;
  background-color: $white;
  border-color: rgba(0, 0, 0, 0.175);
  // remove glow
  outline: none;
  box-shadow: none !important;
  -webkit-appearance: none;
}

.btn-ow-main:focus {
  // remove glow
  outline: none;
  box-shadow: none !important;
  -webkit-appearance: none;
}

.btn-lg {
  padding-top: .25rem;
}

.btn-sm {
  font-size: 1.5rem;
}

.btn-close-modal {
  font-size: 1rem !important;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.btn-shuffle-modal {
  font-size: 1.5rem !important;
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.chevron-rotate {
  transition: transform 0.2s ease-in-out;
}

.chevron-rotate.out {
  transform: rotate(180deg)
}

.navbar-brand {
  width: 60px;
  height: 60px;
}

.ow-footer-logo {
  width: 35px;
  height: 35px;
}

.navbar-title {
  color: $overwatch  !important;
}

.team-grey {
  color: $gray-600  !important;
}

#settingsButton {
  color: $overwatch;
}

#settingsButton:hover .bi-gear::before {
  content: '\F3E2';
}

.social-item {
  font-size: 1.5rem;
}

.bi-github {
  color: #6c757d;
  transition: 0.3s
}

.bi-github:hover {
  color: #000;
}

.bi-instagram {
  color: #6c757d;
  transition: 0.3s
}

.bi-instagram:hover {
  color: #000;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* transition: background 0.3s  ease-out; */
  /* cursor: pointer; */
}