@font-face {
  font-family: 'overwatch-icons';
  src:
    url('./assets/fonts/overwatch-icons.woff2') format('woff2'),
    url('./assets/fonts/overwatch-icons.woff') format('woff'),
    url('./assets/fonts/overwatch-icons.ttf') format('truetype');
  font-display: auto;
  font-weight: normal;
}

[class^="ow-"]:before,
[class*=" ow-"]:before {
  font-family: "overwatch-icons";
}

.ow-hero-ana:before {
  content: '\e800';
}

.ow-hero-ashe:before {
  content: '\e801';
}

.ow-hero-baptiste:before {
  content: '\e802';
}

.ow-hero-bastion:before {
  content: '\e803';
}

.ow-hero-brigitte:before {
  content: '\e804';
}

.ow-hero-cassidy:before {
  content: '\e805';
}

.ow-hero-doomfist:before {
  content: '\e806';
}

.ow-hero-dva:before {
  content: '\e807';
}

.ow-hero-echo:before {
  content: '\e808';
}

.ow-hero-genji:before {
  content: '\e809';
}

.ow-hero-hanzo:before {
  content: '\e80a';
}

.ow-hero-junkrat:before {
  content: '\e80b';
}

.ow-hero-lucio:before {
  content: '\e80c';
}

.ow-hero-mei:before {
  content: '\e80d';
}

.ow-hero-mercy:before {
  content: '\e80e';
}

.ow-hero-moira:before {
  content: '\e80f';
}

.ow-hero-orisa:before {
  content: '\e810';
}

.ow-hero-reaper:before {
  content: '\e811';
}

.ow-hero-pharah:before {
  content: '\e812';
}

.ow-hero-reinhardt:before {
  content: '\e813';
}

.ow-hero-roadhog:before {
  content: '\e814';
}

.ow-hero-sigma:before {
  content: '\e815';
}

.ow-hero-soldier76:before {
  content: '\e816';
}

.ow-hero-sombra:before {
  content: '\e817';
}

.ow-hero-symmetra:before {
  content: '\e818';
}

.ow-hero-torbjorn:before {
  content: '\e819';
}

.ow-hero-tracer:before {
  content: '\e81a';
}

.ow-hero-widowmaker:before {
  content: '\e81b';
}

.ow-hero-winston:before {
  content: '\e81c';
}

.ow-hero-wreckingball:before {
  content: '\e81d';
}

.ow-hero-zarya:before {
  content: '\e81e';
}

.ow-hero-zenyatta:before {
  content: '\e81f';
}

.ow-role-damage:before {
  content: '\e820';
}

.ow-role-support:before {
  content: '\e821';
}

.ow-role-tank:before {
  content: '\e822';
}

/* 
Junker Queen's and Soujourn's icons are replaced with Bootsrap's 'bi-person(-fill)' untill fresh SVG's of 
heroes will be available on playoverwatch.com website
*/
.ow-hero-junkerqueen:before {
  content: '\F4E1';
}

.ow-hero-sojourn:before {
  content: '\F4DA';
}

.ow-hero-junkerqueen:before,
.ow-hero-sojourn:before {
  font-size: 1.7rem !important;
  margin-left: .35rem;
  margin-right: .35rem;
  font-family: 'bootstrap-icons';
}

@media (max-width: 575.98px) {

  .ow-hero-junkerqueen:before,
  .ow-hero-sojourn:before {
    font-size: 1.3rem !important;
    margin-left: .25rem;
    margin-right: .25rem;
  }
}