@media (max-width: 575.98px) {
  #inputPlayer:focus {
    // remove glow
    outline: none;
    box-shadow: none !important;
    -webkit-appearance: none;
  }
}

.player-roster {
  overflow-x: hidden;
  overflow-y: hidden;
}

.list-enter-active,
.list-leave-active {
  transition: opacity 1s;
}

.list-enter-from {
  transform: translateY(-100%);
  opacity: 0;
}

.list-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

.panel {
  overflow: hidden;
  transition: all 0.25s;
  display: inline-block;
}

.li-no-ul {
  border: none !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.opac {
  opacity: $ow-opacity;
}

.opac>* {
  opacity: 1 !important;
}