$overwatch: #f0640f;
$white: #fff;
$form-check-input-bg: $white;
$form-check-input-checked-bg-color: $overwatch;
$form-check-input-checked-border-color: $overwatch;
$font-family-base: "Bebas Neue Pro";
$component-active-bg: $overwatch;
$min-contrast-ratio: 3 !default;
$tooltip-bg: #212529;
$tooltip-opacity: 1;
$ow-opacity: 0.9;

$font-icon-ratio: 1.25;