<!DOCTYPE html>
<html lang="en">

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" href="./favicon.ico">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3"></script>
  <script src="https://unpkg.com/vue-i18n@9"></script>
  <script type="text/javascript" defer src="src/main.js"></script>
</head>

<body class="bgm-img">
  <div id="app">

    <!-- NAVBAR -->
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-light fixed-top navbar-light ">
        <!-- LOGO -->
        <div class="col-4 d-flex align-items-end navbar-title  ps-3">
          <img class="navbar-brand d-inline-block align-text-top me-2" width="50" src="./src/img/icon.png">
          <p class="d-none d-md-block ow-font-bold mb-0 h4">OVERWATCH</br>TEAM SHUFFLER</p>
          <p class="d-none d-md-block ow-font-middle ms-2 mb-0 fs-6">ver. {{appVersion}}</p>
        </div>
        <!-- BUTTON -->
        <div class="col-4 d-flex justify-content-center">
          <button
            class="btn btn-lg btn-outline-warning btn-ow justify-content-center align-items-stretch ow-font-bold pb-0"
            v-on:click="shuffleTeams">
            <p class="d-none d-sm-block h3">SHUFFLE!</p>
            <p class="d-sm-none h1 mb-2">SHUFFLE!</p>
          </button>
        </div>
        <!-- SETTINGS -->
        <div class="col-4 d-flex justify-content-end pb-0 pe-3">
          <button
            class="d-none d-sm-block btn btn-lg btn-outline-warning btn-ow justify-content-between align-items-stretch ow-font-bold pb-0"
            v-on:click="toggleSettingsModal(true)">
            <p class="d-none d-sm-block h3">{{ $t('settings.navButton').toUpperCase() }}</p>
          </button>
          <p class="d-sm-none bi-gear gear pt-0 pe-2 mb-0" v-on:click="toggleSettingsModal(true)" id="settingsButton">
          </p>
        </div>
      </nav>
    </div>

    <!-- MAIN-->
    <div class="container player-list-margin">
      <!-- INPUT-->
      <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
          <div class="input-group opac mt-5">
            <input type="text" style="font-size: 1.5rem;" id="playerInput" class="form-control ow-font-middle"
              :placeholder="$t('input.placeholder')" v-bind:value='inputName'
              v-on:keyup.enter="addPlayer($event.target.value)">
          </div>
          <!-- INPUT ALERT-->
          <div class="collapse" id="collapseInputAlert">
            <div class="alert alert-warning d-flex mb-0 align-items-center" id="alertInputMessage" role="alert">
              <p class="bi-exclamation-triangle-fill mb-0 h5" />
              <p class="ow-font-middle h5 ms-2 mb-0">{{alertInputMessage}}</p>
            </div>
          </div>
          <!-- PLAYER LIST-->
          <transition-group name="list" class="list-group player-roster mb-5" tag="ul">
            <li class="list-group-item justify-content-between align-items-center opac d-flex text-break panel"
              v-for="item in playerList" :key="item.id" :id="`player-list-`+item.id">
              <p class="mb-0 ow-font-bold h4" style="color: #585858 !important">{{item.name.toUpperCase()}}</p>
              <button class="btn-close" v-on:click="delPlayer(item.id)"></button>
            </li>
          </transition-group>
        </div>
      </div>
    </div>

    <!-- ERROR MODAL -->
    <div class="modal fade" id="shuffleAlert" tabindex="-1" aria-labelledby="shuffleAlert" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title ow-font-bold h4" id="exampleModalLabel">{{ $t('general.errors.title').toUpperCase() }}</h5>
            <button type="button" class="btn-close d-sm-none" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body ow-font-middle h4">{{alertModalMessage}}</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-warning btn-ow ow-font-bold" data-bs-dismiss="modal">{{
              $t('general.close') }}</button>
          </div>
        </div>
      </div>
    </div>

    <!-- SETTINGS -->
    <div class="modal fade" id="settings" tabindex="-1" aria-labelledby="settings" aria-hidden="true">
      <div class="modal-dialog modal-lg ">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title ow-font-bold h4">{{ $t('settings.navButton').toUpperCase() }}</h5>
            <button type="button" class="btn-close d-sm-none" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <!-- LOCAL STORAGE-->
          <div class="modal-body pt-0 mb-2" style="overflow-y: auto;overflow-x: hidden;">
            <div class="row mt-2 mb-3">
              <div class="d-flex align-items-center">
                <p class="ow-font-bold h4">{{ $t('settings.ls.title') }}</p>
                <transition name="settings-status" style="transition: opacity .5s" mode="out-in">
                  <div v-if="localStorageStatus">
                    <p class="ow-font-middle h6 ms-2 ">{{ $t('settings.ls.exist') }}</p>
                  </div>
                </transition>
              </div>
              <!-- LOCAL STORAGE BUTTON -->
              <div class="col col-xs-12 col-lg-4">
                <div class="btn-group ow-font-bold" role="group">
                  <button
                    class="btn btn-sm btn-outline-warning btn-ow  justify-content-center ow-font-bold pb-0 mt-2 mb-1"
                    v-on:click="clearLocalStorage">
                    <p class="mb-0 pb-1 h4">{{$t('settings.ls.clearButton').toUpperCase()}}</p>
                  </button>
                </div>
              </div>
              <!-- LOCAL STORAGE ALERT LG+ -->
              <div class="col col-8 d-none d-lg-block">
                <div class="collapse mb-2" id="collapseLocalStorageAlertLg">
                  <div class="alert alert-success mt-2 mb-0 p-1" role="alert">
                    <h5 class="d-none d-lg-block ow-font-middle text-center p-0 m-0">{{
                      $t('settings.ls.alert') }}</h5>
                  </div>
                </div>
              </div>
            </div>
            <!-- LOCAL STORAGE ALERT MD -->
            <div class="row d-lg-none justify-content-center collapse p-0 mt-0 mb-1" id="collapseLocalStorageAlertSm">
              <div class="col col-12 mb-2 alert alert-success p-1" role="alert">
                <h6 class="d-lg-none ow-font-middle text-center p-0 m-0">{{$t('settings.ls.alert')}}
              </div>
            </div>
            <hr class="row mt-0 mb-0">
            <!-- MAP FILTER -->
            <div class="row mt-2 mb-3">
              <p class="ow-font-bold h4">{{ $t('settings.mapFilter.title') }}</p>
              <!-- MAP FILTER BUTTON -->
              <div class="col col-xs-12 col-lg-4">
                <div class="btn-group ow-font-bold" role="group">
                  <button
                    class="btn btn-sm btn-outline-warning btn-ow  justify-content-center ow-font-bold pb-0 mt-2 mb-1"
                    v-on:click="resetMapFilter">
                    <p class="mb-0 pb-1 h4">{{$t('settings.mapFilter.resetButton').toUpperCase()}}</p>
                  </button>
                </div>
              </div>
              <!-- MAP FILTER ALERT LG+ -->
              <div class="col col-8 d-none d-lg-block">
                <div class="collapse mb-2" id="collapseMapFilterAlertLg">
                  <div class="alert alert-success mt-2 mb-0 p-1" role="alert">
                    <h5 class="d-none d-lg-block ow-font-middle text-center p-0 m-0">{{
                      $t('settings.mapFilter.alert') }}</h5>
                  </div>
                </div>
              </div>
            </div>
            <!-- MAP FILTER ALERT MD -->
            <div class="row d-lg-none justify-content-center collapse p-0 mb-0" id="collapseMapFilterAlertSm">
              <div class="col col-12 mb-2 alert alert-success p-1" role="alert">
                <h6 class="d-lg-none ow-font-middle text-center p-0 m-0">{{ $t('settings.mapFilter.alert') }}
                </h6>
              </div>
            </div>
            <!-- MAP FILTER MODES-->
            <div class="row mt-1 mb-0">
              <div class="col col-12 col-lg-6 mb-3" v-for="mode in mapModes">
                <div class="d-flex" data-bs-toggle="collapse" :id="`block-`+mode" :href="`#collapse-`+mode">
                  <p class="ow-font-middle h4">{{ $t(`modes.${mode}`) }}</p>
                  <p class="d-lg-none h3 ps-2 mb-0 bi-chevron-down" :id="`chevron-`+mode" />
                </div>
                <!-- MAPS BY MODE FULL-->
                <ul class="d-lg-none list-group list-group-flush collapse" :id="`collapse-`+mode">
                  <li class="list-group-item ow-font-middle align-items-center text-break li-no-ul"
                    v-for="item in getMapsByMode(mode)">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" v-model="mapFilter[item.id]"
                        v-on:click="mapFilter[item.id]=!mapFilter[item.id]">
                      <label class="form-check-label h5 mb-0" v-bind:class="{'text-muted': !mapFilter[item.id]}">{{
                        $t(`maps.${item.id}`) }}</label>
                    </div>
                  </li>
                </ul>
                <!-- MAPS BY MODE COLLAPSE -->
                <ul class="d-none d-lg-block list-group list-group-flush">
                  <li class="list-group-item ow-font-middle align-items-center text-break li-no-ul"
                    v-for="item in getMapsByMode(mode)">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" v-model="mapFilter[item.id]"
                        v-on:click="mapFilter[item.id]=!mapFilter[item.id]">
                      <label class="form-check-label h5 mb-0" v-bind:class="{'text-muted': !mapFilter[item.id]}">{{
                        $t(`maps.${item.id}`) }}</label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- SETTINGS FOOTER-->
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-warning btn-ow ow-font-bold" data-bs-dismiss="modal">{{
              $t('general.close') }}</button>
          </div>
        </div>
      </div>
    </div>

    <!-- SHUFFLE MODAL BLOCK -->
    <div class="modal fade" id="shuffleResult" tabindex="-1" aria-labelledby="shuffleResult" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <div class="container-fluid" v-if="teamRed.length != 0 && teamBlue.length != 0">
              <div class="row justify-content-center">
                <!-- TEAM RED ROSTER -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 "
                  v-if="teamBlue.length != 0 || teamBlue != undefined">
                  <p class="d-none d-lg-block ow-font-bold team-blue text-end h1">TEAM BLUE</p>
                  <p class="d-lg-none ow-font-bold team-blue text-start h1">TEAM BLUE</p>
                  <hr class="mb-0 mt-0">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item ow-font-bold player-list pb-0 pt-0" v-for="item in teamBlue">
                      <p class="d-none d-lg-block text-end pb-0 pt-0 mb-0 h1">{{item.name.toUpperCase()}}</p>
                      <p class="d-lg-none text-start pb-0 pt-0 mb-0 h1">{{item.name.toUpperCase()}}</p>
                    </li>
                  </ul>
                </div>
                <!-- XS-MD DELIMITER -->
                <div class="col-12 d-md-none" style="height: 15px;"></div>
                <!-- TEAM RED ROSTER -->
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 "
                  v-if="teamRed.length != 0 || teamRed != undefined">
                  <p class="d-none d-lg-block ow-font-bold team-red text-start h1">TEAM RED</p>
                  <p class="d-lg-none ow-font-bold team-red text-end h1">TEAM RED</p>
                  <hr class="mb-0 mt-0">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item ow-font-bold player-list pb-0 pt-0" v-for="item in teamRed">
                      <p class="d-none d-lg-block text-start pb-0 pt-0 mb-0 h1">{{item.name.toUpperCase()}}</p>
                      <p class="d-lg-none text-end pb-0 pt-0 mb-0 h1">{{item.name.toUpperCase()}}</p>
                    </li>
                  </ul>
                </div>
              </div>
              <hr>
              <!-- RANDOM MAP BLOCK -->
              <div class="row justify-content-center" v-if="currentMap">
                <div class="col-6 text-end">
                  <p class="h4 ow-font-middle">{{$t('general.nextMap') }}</p>
                </div>
                <div class="clearfix col-6 text-start">
                  <p class="d-none d-md-block h2 ow-font-bold player-list lh-1 mb-0">{{ $t(`maps.${currentMap.id}`) }}
                  </p>
                  <p class="d-md-none h4 ow-font-bold player-list lh-1 mb-0">{{ $t(`maps.${currentMap.id}`) }}</p>
                  <p class="fs-6 ow-font-middle">{{ $t(`modes.${currentMap.mode}`) }}</p>
                </div>
              </div>
            </div>
            <!-- SHUFFLE FOOTER -->
            <div class="modal-footer">
              <div class="col-xs-2 col-sm-2"></div>
              <button type="button" class="btn btn-outline-warning btn-ow col ow-font-bold h3" data-bs-dismiss="modal"
                v-html="$t('general.close')"></button>
              <div class="col-xs-2 col-sm-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 fixed-bottom bg-light">
        <div class="col-8 d-flex ps-2 me-0 align-items-center">
          <img src="src/img/icon.png" class="ps-2" style="height:30px;">
          <p class="ow-font-bold text-muted lh-1 m-1 pe-2">2022 CREATED BY GENESI5</br>OVERWATCH © 2022 BLIZZARD</p>
        </div>
        <ul class="col-4 justify-content-end align-items-center m-0 list-unstyled text-muted d-flex pe-2">
          <li class="m-2 mb-0">
            <a class="text-decoration-none text-reset" href="https://github.com/genesi5/ow-shuffler">
              <p class="bi-github h2" id="githubLink"></p>
            </a>
          </li>
          <!-- <li class="m-2 mb-0">
            <a class="text-decoration-none text-reset" href="">
              <p class="bi-instagram h2"></p>
            </a>
          </li>
          <li class="m-2 mb-0">
            <a class="text-decoration-none text-reset" href="">
              <p class="bi-twitter h2"></p>
            </a>
          </li> -->
        </ul>
      </footer>
    </div>

  </div>
</body>

</html>